[run]
source = app
omit =
    */tests/*
    */migrations/*
    */__init__.py
    */config.py
    */main.py

[report]
precision = 2
skip_empty = True
show_missing = True
skip_covered = False

[html]
directory = htmlcov

[xml]
output = coverage.xml
